<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {{ site.username }}
        </a>
    </h1>
    <a class="header-action" href="https://gitter.im/wetryio/community?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge" target="_blank" style="margin-left: 1rem;">
        <img src="https://badges.gitter.im/wetryio/community.svg" alt="Gitter">
    </a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
